<h4 class="font-bold title-section text-primary"><?php echo __('Rouwauto'); ?></h4>
					<?php // for($j=0;$j<3;$j++){?>
					<div class="form-group">
						<label class="col-sm-2 control-label"><?php echo __('Rouw auto van'); ?></label>
						<div class="col-sm-2">
							<?php echo $this->Form->input('Hearse.funerals_car_from',array('class'=>'form-control','div'=>false,'label'=>false)); ?>
						</div>
						<label class="col-sm-1 control-label"><?php echo __('Naar'); ?></label>
						<div class="col-sm-1">
							<?php echo $this->Form->input('Hearse.funerals_car_to',array('class'=>'form-control','div'=>false,'label'=>false)); ?>
						</div>
						<label class="col-sm-1 control-label"><?php echo __('Prijs'); ?></label>
						<div class="col-sm-2">
							<?php echo $this->Form->input('Hearse.price',
																	array(
								 										  'class'=>'form-control',
								 										  'div'=>false, 
								 										  'label'=>false,
								 										  'type' => 'text',
								 										  
								 										  )
								 						); 
		                  ?>
						</div>
					</div>
					<?php //} ?>