</div>
		<div class="navigate clearfix">
		<a href="#" class="btn btn-lg btn-default pull-left arrow" data-rel="left"><span class="glyphicon glyphicon-arrow-left"></span></a>
		<a href="#" class="btn btn-lg btn-default pull-right arrow" data-rel="right"><span class="glyphicon glyphicon-arrow-right"></span></a>
	</div>
</div>