/* 
    Document   : layout
    Created on : Mar 21, 2014, 11:44:27 AM
    Author     : babish
    Description:
        Purpose of the stylesheet follows.
*/

.product-default .default { 
 box-shadow:0px 0px 0px 5px #7CB509;
 position:relative;
}

.product-default .default:before{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    border-radius: 10px;
    content: "\f14a";
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    color: #7CB509;
    position: absolute;
    top:10px;
    right: 10px;
}

.product-default .iradio_minimal{
    display:none
}
.product-default .box{ box-shadow: none }
.product-default .box img{
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    
}
.product-default .fig-option label{ display: block;border: 1px solid #e1e1e1; }
.product-default .fig-option .product-image-block{ height: 94px; overflow: hidden;}
.product-default .option-name{ font-size: 16px; font-weight: bold; color: #3c8dbc}
.product-default .option-price{ font-size: 14px; color: #666 }
.margin-btm-2{ margin-bottom: 20px;}
.product-default .box-header span{color:#3c8dbc;}

.product-row li{list-style: none;}

.input.radio .iradio_minimal{margin: 0 5px 0 0}
.input.radio label+.iradio_minimal{margin-left: 20px;}
.form-group img, .checkbox img{display: block; margin:10px 0;}
.dl-horizontal dt,.dl-horiontal dd{padding-bottom: 5px;}
.checkbox-images{min-height: 173px;}
.categorycheckbox{
    background:#eee;padding:3px 8px;
}
