header{
	background-color:#1abc9c;
	padding:10px 0;
	margin-bottom:20px;
}
header .nav-pills li{
	margin:0 2px;
}
header .nav-pills li a{
	color:#FFF;
	font-family:Open sans, sans-serif;
	font-weight:900;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0.5em 1em;
}
header .nav-pills li.active a,header .nav-pills li.active a:hover{
	background-color:#FFF;
	color:#1ABC9C;
}
header .nav-pills li a:hover{
	color:#FFF;
	background-color:#148F77;
}
nav{
	padding-top:8px;
}

.brand{
	font-size:32px;
	color:#FFF;
	font-family:Sofia, cursive;
}
.font-light{
	font-weight:300;
}
.font-normal{
	font-weight:400;
}
.font-med{
	font-weight:600;
}
.font-bold{
	font-weight:700;
}
.title-large{
	font-size:22px;
	margin-bottom:1em;
	margin-top: 30px;
}
.title-section{
	margin-top:40px;
	margin-bottom:20px;
}
label{
	font-weight:400;
}
.hr{
	clear:both;
	border-bottom:1px solid #DDD;
	margin:30px 0;
}
input[type="radio"], input[type="checkbox"] {
	margin: 2px 0 0;
	margin-top: 1px \9;
}
.actions{
	margin-bottom:40px;
  *zoom: 1;
}

.actions:before,
.actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.actions:after {
  clear: both;
}

.navigate{
	margin-bottom:40px;
}