<div class="chruchDatas index">
	<h2><?php echo __('Chruch Datas'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('client_datas_id'); ?></th>
			<th><?php echo $this->Paginator->sort('parish'); ?></th>
			<th><?php echo $this->Paginator->sort('evening_vigil'); ?></th>
			<th><?php echo $this->Paginator->sort('funeral_chapel'); ?></th>
			<th><?php echo $this->Paginator->sort('ceromony_date'); ?></th>
			<th><?php echo $this->Paginator->sort('ceromony_time'); ?></th>
			<th><?php echo $this->Paginator->sort('monthly_thoughts'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($chruchDatas as $chruchData): ?>
	<tr>
		<td><?php echo h($chruchData['ChruchData']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($chruchData['ClientDatas']['id'], array('controller' => 'client_datas', 'action' => 'view', $chruchData['ClientDatas']['id'])); ?>
		</td>
		<td><?php echo h($chruchData['ChruchData']['parish']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['evening_vigil']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['funeral_chapel']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['ceromony_date']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['ceromony_time']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['monthly_thoughts']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['created']); ?>&nbsp;</td>
		<td><?php echo h($chruchData['ChruchData']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $chruchData['ChruchData']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $chruchData['ChruchData']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $chruchData['ChruchData']['id']), null, __('Are you sure you want to delete # %s?', $chruchData['ChruchData']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Chruch Data'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Client Datas'), array('controller' => 'client_datas', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Client Datas'), array('controller' => 'client_datas', 'action' => 'add')); ?> </li>
	</ul>
</div>
